@model TrainningStudent.Models.CourseCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
<br />
<h2>Details CourseCategory</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |  @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })

</p>
