@model TrainningStudent.Models.Trainee

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
<br />
<h2>Profile Trainee</h2>
<br />
<br />
<div class="card border-left-primary shadow h-auto py-sm-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="profile-head">
                    <h5>
                        About
                    </h5>
                </div>
            </div>
            <br />
            <div class="col-md-2">
                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.TraineeID }, new { @class = "btn btn-primary" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">

            </div>
            <br />
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br />
                        <div class="row">
                            <br />

                            <div class="col-md-6">
                                <h5>Account    :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>@Html.DisplayFor(model => model.TraineeName)</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>PassWord     :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>123456</h5>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Name    :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>@Html.DisplayFor(model => model.TraineeName)</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Major    :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>@Html.DisplayFor(model => model.Majors)</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Phone    :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>@Html.DisplayFor(model => model.Phone)</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5> Classroom    :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>@Html.DisplayFor(model => model.Classroom)</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Address    :</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>@Html.DisplayFor(model => model.Location)</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


