@model IEnumerable<TrainningStudent.Models.Topic>

@{ ViewBag.Title = "MyTopics";
Layout = "~/Views/Shared/_DashBoard.cshtml"; }
<br />
<h2>My Topics</h2>
<br />
<table class="table" id="datatablesSimple"style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Trainer.TrainerName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TopicName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
    </td>
</tr>}

</table>
