@model TrainningStudent.Models.Topic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
<br />
<h2>Details Topic</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

      
        <dd>
            @Html.DisplayFor(model => model.TrainerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopicID }) | @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })
    
</p>
